table,
th,
td {
    border: 0.5px solid #AFAFB1;
    border-collapse: collapse;
}

.btn-edit {
   width:50px ;
   border: none;
   outline: none;
   background : transparent ;
   color : orange;

   &:hover {
       background-color: transparent !important;
       color :orange !important;
   }
}
.btn-delete {
   width:50px ;
   border: none;
   outline: none;
   background : transparent ;
   color : rgb( 235,15,15);

   &:hover {
       background-color: transparent !important;
       color :  rgb( 235,15,15) !important;
   }
}

.modal .modal-dialog .modal-content .modal-header .modal-title {
    font-size: 16px;
    font-weight: 600;
    
 
}


.modal-user-container{    
    .model-title {
      padding : 5px;
    }
   .modal-header {
    background-color: #C69B7B !important;
       button {
           background-color : transparent !important;
           color : white ;
           border: none;
           font-size :25px;
       }
   }
}

